<div class="{{styles.avatarBlock}}">
    <img src="{{avatar}}" width="47px" height="47px">
</div>
<div class="{{styles.content}}">
    <h5 class="{{styles.title}}">{{title}}</h5>
    <span class="{{styles.subtitle}}">{{subtitle}}</span>
</div>
<div class="{{styles.meta}}">
    <span class="{{styles.time}}">{{meta.time}}</span>
    {{#if meta.count}}
        <div class="{{styles.count}}">
            {{meta.count}}
        </div>
    {{/if}}

</div>