<div class="{{styles.avatarBlock}}">
    {{{avatarImage}}}
</div>
<div class="{{styles.content}}">
    <h5 class="{{styles.title}}">{{title}}</h5>
    <span class="{{styles.subtitle}}">{{shortSubtitle}}</span>
</div>
<div class="{{styles.meta}}">
    <span class="{{styles.time}}">{{timeString}}</span>
    {{#if meta.count}}
        <div class="{{styles.count}}">
            {{meta.count}}
        </div>
    {{/if}}
</div>
