<div class='{{styles.messagePage}}'>
  <div class='{{styles.info}}'>
    <h1 class='{{styles.title}}'>{{code}}</h1>
    <p class='{{styles.subtitle}}'>{{title}}</p>
  </div>
    {{{returnButton}}}
</div>
