<aside class="{{styles.sidebar}}">
    {{{goBack}}}
</aside>

<main class="{{styles.main}}">
    <div class="{{styles.user}}">
        <div class="{{styles.avatar}}">
            <img width="100%" height="100%" src="{{user.avatar}}"/>
            <input type="file" name="avatar">
        </div>
        <h3>{{user.name}} {{user.surname}}</h3>
    </div>
    {{#if isEditMode}}
        <ul class="{{styles.credentials}}">
            {{#each credentials as |credential|}}
                {{{this}}}
            {{/each}}
        </ul>
        <div class="{{styles.saveButton}}">
            {{{saveButton}}}
        </div>
    {{else if isPasswordEditMode}}
        <ul class="{{styles.credentials}}">
            {{#each passwordCredentials}}
                {{{this}}}
            {{/each}}
        </ul>
        <div class="{{styles.saveButton}}">
            {{{saveButton}}}
        </div>
    {{else}}
        <ul class="{{styles.credentials}}">
            {{#each credentials as |credential|}}
                {{{this}}}
            {{/each}}
        </ul>
        <ul class="{{styles.buttons}}">
            <li class="{{styles.buttonRow}}">
                {{{editUserDataButton}}}
            </li>
            <li class="{{styles.buttonRow}}">
                {{{editPasswordButton}}}
            </li>
            <li class="{{styles.buttonRow}}">
                {{{logoutButton}}}
            </li>
        </ul>
    {{/if}}
</main>
