<input class="{{styles.input}}" id="{{id}}_{{name}}" name="{{name}}" placeholder="{{placeholder}}" required="{{required}}"/>
{{#if label}}
<label for="{{id}}_{{name}}">{{label}}</label>
{{/if}}
{{#if errors}}
    {{#each errors}}
        <span class="{{../styles.error}}">
            {{{this}}}
        </span>
    {{/each}}
{{/if}}