<aside class="{{styles.sidePanel}}">
    {{{profileButton}}}
    <div class="{{styles.searchBox}}">
        <label class="{{styles.searchField}}">
            <input type="text" placeholder="Поиск..." class="{{styles.input}}">
            <div class="{{styles.searchIcon}}">
                <img src="searchIcon.png" alt="search" width="15px" height="15px">
            </div>
        </label>
    </div>
    {{#if isLoaded}}
    <div class="{{styles.chatList}}">
        {{#each chats}}
            <div class="{{../styles.chatItem}}">
                {{{this}}}
            </div>
        {{/each}}
    </div>
    {{else}}
        Loading...
    {{/if}}
</aside>
<main class="{{styles.main}}">
    {{#if currentChat}}
        <div class="{{styles.userBar}}">
            <img class="{{styles.avatar}}" src="{{currentChat.avatar}}" width="34px" height="34px"/>
            {{currentChat.title}}
            <div class="{{styles.options}}">
                <div class="{{styles.optionsIcon}}">
                    <div class="{{styles.dot}}"></div>
                    <div class="{{styles.dot}}"></div>
                    <div class="{{styles.dot}}"></div>
                </div>
            </div>
        </div>
        <div class="{{styles.chat}}">
            {{#if messages}}
                {{#each messages}}
                    {{{this}}}
                {{/each}}
            {{else}}
                <span class="{{styles.blank}}">Начните переписку первым.</span>
            {{/if}}

        </div>
        <div class="{{styles.inputBar}}">
            <img src="pin.png" width="32px" height="32px">
            {{{messageField}}}
            {{{messageButton}}}
        </div>
    {{else}}
        <span class="{{styles.blank}}">Выберете чат или {{{addContact}}}</span>
    {{/if}}
</main>
{{{createChatModal}}}
