<aside class="{{styles.sidePanel}}">
    {{{profileButton}}}
    <div class="{{styles.searchBox}}">
        <label class="{{styles.searchField}}">
            <input type="text" placeholder="Поиск..." class="{{styles.input}}">
            <div class="{{styles.searchIcon}}">
                <img src="{{searchIcon}}" alt="search" width="15px" height="15px">
            </div>
        </label>
    </div>
    {{#if isLoaded}}
    <div class="{{styles.chatList}}">
        {{#each chats}}
            {{{this}}}
        {{/each}}
    </div>
    {{else}}
        Loading...
    {{/if}}
</aside>
{{{messangerBlock}}}

{{{addUserModal}}}
{{{removeUserModal}}}
{{{createChatModal}}}
