<p class='{{styles.content}}'>
  <span class='{{styles.text}}'>{{content}}</span>
  <span class='{{styles.meta}}'>
    <img class='{{styles.status}}' alt="Доставлено" src="MessageStatus.svg"/>
    {{time}}
  </span>
</p>
